<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>      
        <a href="xxxxx" class="btn">Prospective: zone à ravitaillement en eau potable</a>
        <a href="xxxxx" class="btn">Méthode</a>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Voir sur github</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-credits">Toutes nos publications sont dédiées au domaine publique. C'est pourquoi nous les avons publié sous la licence juridique <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.fr"><em>Creative Commons 0</em> - <em>Public domain</em></a> vous autorisant à les réutiliser et les réadapter librement </span>
      </footer>
    </main>
  </body>
</html>
